body{
    background-image: url(https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?semt=ais_hybrid);
    background-size: cover;
    background-color: black;
}

#img1 {
    width:300px;
    position:absolute;
    left:200px;
    top:300px;
     z-index:1;
}
#naruto {
    width:300px;
    position:absolute;
    left:800px;
    top:200px;
}
#sasuke {
    width:300px;
    position:absolute;
    left:500px;
    top:300px;
    z-index:2;
}
#valt {
    width:300px;
    position:absolute;
    left:2011px;
    top:600px;
}
#well {
    width:300px;
    position:absolute;
    left:10px;
    top:200px;
    z-index:3;
}
#br {
    width:300px;
    position:absolute;
    left:800px;
    top:300px;
}
.pizza {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#hamburger{
    position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
}
