body{
    background-image: url(https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?semt=ais_hybrid);
    background-size: cover;
    background
}
#img1 {
    width:100px;
    position:absolute;
    right: 200px;
    top:500px;
}

#img2 {
    width:100px;
    position:absolute;
    right:500px;
    top:100px
}
